*{
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#options{
    background-color: #2b2d31;
    overflow-y: scroll;
    border: 4px solid black;
    height: 100%;
    width: 25%;
    float: left;
}




#content{
    padding: 50px;
    background-color: #313338;
    overflow-y: scroll;
    border: 4px solid black;
    height: 100%;
    width: 75%;
    float: right;

}

#content *{
    color: white;
}

#content button{
    width: 100px;
    height: 30px;
}

#content input{
    color: black;
}

ul{
    width: 100%;
    list-style: none;
}

li{
    width: 100%;
}


button{
    width: 80%;
    height: 50px;
    margin-top: 20px;
}



h1{
    font-size: 45px;
    text-align: center;

}

#overlay-content input{
    color:black;
    width: 50%;
    height: 40px;
}




#account-info {
    width: 75%;
    border: 4px solid black;
    border-radius: 4px;
    padding: 50px;
    background-color: #1e1f22;
}

#account-info button{
    margin-top: 0;
    float: right;
    clear: both;
}


#overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

#overlay-content{
    background-color: #313338;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* Hide the scroll bar at the bottom of the container */




