button{
    background-color: #9028ff;
    color: white;
    transition: background-color 0.5s ease;
    border-radius: 10px;
}


button:hover{
    cursor: pointer;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2);
    background-color: #2e0753;

}
